#header4-5 P {
  color: #ffffff;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-9 .mbr-section-title {
  font-size: 32px;
}
#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 30px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.4em;
  color: #0275d8;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #fff8e0;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #fff3cc;
}
#dropdown-menu-0 .navbar-toggler {
  color: #0275d8;
}
